<nav class="navbar navbar-default"
	xmlns:th="http://www.thymeLeaf.org" th:fragment="header">
	<div class="container-fluid">
		<ul class="nav navbar-nav">
<!-- 			<li><a class="nav-link" th:href="#">Opération</a></li> -->
<!-- 			<li><a class="nav-link" th:href="#">Comptes</a></li> -->
<!-- 			<li><a class="nav-link" th:href="#" >Clients</a></li> -->
		</ul>
		 <ul class="nav navbar-nav navbar-right">
<!-- 			<li><a class="nav-link" th:href="#" >Déconnexion</a></li>		  -->
		 </ul>
	</div>	
</nav>