<nav class="navbar-nav navbar-expand-lg navbar-center huxor-dark fixed-top"
	xmlns:th="http://www.thymeLeaf.org" th:fragment="header" xmlns:sec="http://www.thymeLeaf.org/extras/spring-security">
	<a class="navbar-brand" href="/"> 
	<img src="assets/logo_huxor.png" class="d-inline-block align-top logo-head" alt="logo_huxor">
	</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
	<div class="collapse navbar-collapse" id="navbarCollapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"><a class="nav-link head-nav nav-hover nav-active" href="/#rent">Louer</a></li>
			<li class="nav-item "><a class="nav-link head-nav nav-hover nav-active" href="/#service">Service</a></li>
			<li class="nav-item "><a class="nav-link head-nav nav-hover nav-active" href="/#contact">Contact</a></li>
			<li class="nav-item " sec:authorize="isAnonymous()" ><a class="nav-link head-nav nav-hover nav-active" th:href="@{/login}">Connexion</a></li>
		</ul>
		<ul class="navbar-nav" sec:authorize="isAuthenticated()" >
          		<li class="nav-item"><a class="nav-link head-nav nav-hover"  th:href="@{/userAccount?username=}+${#httpServletRequest.remoteUser}">Profil</a></li>
          		<li class="nav-item"><a class="nav-link head-nav nav-hover" th:href="@{/myReservations?username=}+${#httpServletRequest.remoteUser}">Mes réservations</a></li>     		
          		<li class="nav-item"><a class="nav-link head-nav nav-hover" th:href="@{/logout}">Déconnexion</a></li>
		</ul>
	</div>
</nav>
