@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Anton');

/* ===== General ===== */
.huxor-dark {
	background-color: #444148;
}

/* ===== header ===== */
.head-nav{
	color: #FEFEFE;
	font-size: 1.5em;
	font-family: 'Anton', sans-serif;
}

.head-nav:hover {
	color: #8b6949
}

.head-nav:active {
	color: #8b6949 !important
}

/* ===== rent =====*/
.rent-back {
	background-image: url("../assets/fond_ecran_car.jpg");
	background-repeat : no-repeat;
	background-size: 100%;
	height: 33em;
}



