/* ===== GENERAL ===== */
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Anton');

label{
		font-family: 'Anton', sans-serif; 
		color: #9caabb;
}

h2, h3{ font-family: 'Anton', sans-serif; }

h6{
	font-family: 'Anton', sans-serif; 
	color: #8b6949;
}

.huxor-dark {
	background-color: #444148;
	color: #FEFEFE;
}

.huxor-primary{
	background-color: #9caabb;
	color: #444148;	
}

.block{ 	
	padding-top: 4ex; 
	padding-bottom: 4ex;
}

.huxor-btn{  font-weight: bold; }

.margin-top { margin-top: 9.8ex }

/* ===== HEADER ===== */
.logo-head{
	width: 7ex;
	height: 7ex;
	border-radius: 0.8ex;
}

.head-nav{
	color: white;
	font-size: 1.5em;
	font-family: 'Anton', sans-serif;
}

.nav-hover:hover { color: #8b6949 }

.nav-active:active { color: #8b6949 !important }


/* ===== RENT =====*/
.rent {
	background-image: url("../assets/fond_ecran_car.jpg");
	background-repeat : no-repeat;
	background-size: 100%;
}

.para-rent{
	color:white;
	font-size: 1.5em;	
	font-weight: bold;
	text-align: center;
}

.date-form{
	background-color: rgba(139, 105, 73, 0.4);
	margin: 10ex auto 3ex auto;
	width: 50%;
	padding: 3ex 0 2ex 0; 
	border-radius: 5px;
}

.lab{
	color: white !important;
}

/* ===== SERVICE =====*/
.service{ text-align: center; }


/* ===== CONTACT =====*/
.contact{ background-color: rgba(156, 170, 187, 0.3); }

.btn-form-contact{ width: 100% }

.title-social{ text-align: center; }

.news{ padding-top: 3ex; }


/* =====  CARS ===== */
.cars{ margin: 12ex auto; }

.card{
	margin: 2ex;
	height: 65ex;
	width: 30.5ex;
}

.pic-size{
	height: 30%;
 	width: 100%; 
}

.card-title{
	font-family: 'Anton', sans-serif;
	color: #8b6949;
	font-weight: bold;
}

.card-text{ font-style: italic; }

.card-btn{ margin-left: 7ex; }

.item{ color:	#9caabb; }

.price{
	color: #8b6949;
	font-weight: bold;
	font-size: 2em;	
	text-align: center;
}

.pagi{
	color: #9caabb; 
}


/* ===== LOGIN =====*/
.login{
	margin-top: 15ex;
	margin-bottom: 5ex;
}

/* ===== BOOKING =====*/
.booking{ margin-top: 15ex; }

.descript{ }

.paiement { }

.creditCard{ color: black !important }

.confirm { }

.card-booking {
	margin: 2ex ;
/* 	height: 70ex; */
	width: 90%;
}

.pic-size-booking {
	height: 50%;
 	width: 90%; 
}

.pic-logo-booking{
	height: 30%;
 	width: 90%; 
}

.button-paid{ margin: 2ex; }

.paid-title { margin-top: 1.5ex; }

/* ===== RESERVATIONS =====*/
.title{margin-top: 5ex;}

.nullList{
	text-align: center;
	font-size:  4ex;
}

/* ===== FOOTER =====*/
.block-foot{
	padding-top: 2ex; 
	padding-bottom: 2ex;
}

.para-foot{
	font-size: 1.5ex;
	font-style:italic;
	text-align: justify; 
}

.btn-foot{ font-size: 1.5ex; }

.link-footer{ 
	text-decoration: underline;
	color: #8b6949;
}

.link-footer:hover{ color:#444148 }




