<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org"  xmlns:sec="http://www.thymeLeaf.org/extras/spring-security">

	<head>
		<meta charset="UTF-8">
		<title>voitures disponibles</title>
      	<link th:href="@{/bootstrap/css/bootstrap.min.css}"  rel="stylesheet" media="screen"/>
      	<link href="css/style.css"  rel="stylesheet" media="screen"/>
	</head>
	
	<body>
		<!-- header.html -->
		<header  th:replace="fragments/header :: header"></header>
		
		<div class="container cars">
			<div class="row">
				<div th:each="car:${carsList}">
					<div class="card shadow p-0.5 mb-7 bg-white rounded">
				  		<img class="card-img-top pic-size" th:attr="src=@{${car.picturePath}},alt='car picture'">
				  		<div class="card-body">
				    		<h5 class="card-title"  th:text="${car.brand.brandName} +' '+ ${car.model.modelName}"></h5>
				    		<p class="card-text"  th:text="${car.category.describtion}"></p>
				    		  <ul class="list-group list-group-flush">
						    	<li class="list-group-item" ><span class="item">Carburant : </span>[[${car.fuel}]]</li>
						    	<li class="list-group-item"><span class="item" >Boite : </span>[[${car.transmission}]]</li>
						    	<li class="list-group-item price" >[[${rental.totalPriceWithoutKm(startDate, endDate, car.dailyPrice)}]] €</li>
						  	</ul>
				    		<a th:href="@{/confirmBooking(licencePlate=${car.licencePlate}, startDate=${param.startDate}, endDate=${param.endDate}, user=${#httpServletRequest.remoteUser}, price=${rental.totalPriceWithoutKm(startDate, endDate, car.dailyPrice)})}" >
				    			<button class="btn huxor-btn huxor-dark nav-hover .nav-active card-btn" >Réserver</button>
				    		</a>
				  		</div>
					</div>
				</div>
			</div>
			<nav class="container">
			  <ul class="pagination justify-content-center pagination-lg">
				<li class="page-item pagi" th:each="p, status:${pages}">
					<a class="page-link" th:href="@{/availableCars(startDate=${startDate}, endDate=${endDate}, page=${status.index})}" th:text="${status.index}"></a>
				</li> 		    
			  </ul>
			</nav>	
		</div>	
		
		<!-- footer.html -->
		<footer th:replace="fragments/footer :: footer"></footer> 	
	</body>
</html>