<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" >

	<head>
		<meta charset="UTF-8">
		<title>Huxor</title>
      	<link th:href="@{/bootstrap/css/bootstrap.min.css}"  rel="stylesheet" media="screen"/>
      	<link href="css/style.css"  rel="stylesheet" media="screen"/>
	</head>
	
	<body>
		<!-- header.html -->
		<header  th:replace="fragments/header :: header"></header>
		
		<!-- Rent -->
		<section class="container-fluid rent block" id="rent">
			<form class="date-form" th:action="@{/availableCars}" method="get">
				<div class="row form-group">
					<p class="para-rent"> Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod  :</p>
				</div>
			  	<div class="row form-group ">
			  		<div class="offset-md-2 col-md-4">
			    		<label for= "start" class="lab">Date de départ</label>
			    		<input type="date"  class="form-control" id="start" name="startDate" 
			    			min="2018-01-01" max="2019-12-31" />
			  		</div>
					<div class="col-md-4">
				    	<label for="start" class="lab">Date de retour</label>
				    	<input type="date" class="form-control" id="end" name="endDate" 
				    		min="2018-01-01" max="2019-12-31"/>
					</div>
			  	</div>	
				<div class="row form-group "  id="service">
					<div class="offset-md-4 col-md-3">
						<span class="text-light" th:text="${#httpServletRequest.getParameter('falseDate')}"></span>
				  		<button type="submit" class="btn huxor-dark huxor-btn nav-hover nav-active" >Rechercher véhicule</button>
					</div>
				</div>				
			</form>
		</section>
		
		
		<!-- service -->
		<section class="service block">
			<div class="container cont">
				<div class="row">
		          <div class="col-lg-4">
		            <img class="rounded-circle" src="assets/fond_service.png" alt="Generic placeholder image" width="140" height="140">
		            <h2>Service 1</h2>
		            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
		            <p><a class="btn huxor-btn huxor-dark nav-hover nav-active" href="#" role="button">Détails &raquo;</a></p>
		          </div>
		          <div class="col-lg-4">
		            <img class="rounded-circle" src="assets/fond_service.png" alt="Generic placeholder image" width="140" height="140">
		            <h2>Service 2</h2>
		            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
		            <p><a class="btn huxor-btn huxor-dark nav-hover nav-active" href="#" role="button">Détails &raquo;</a></p>
		          </div> 
		          <div class="col-lg-4">
		            <img class="rounded-circle" src="assets/fond_service.png" alt="Generic placeholder image" width="140" height="140">
		            <h2>Service 3</h2>
		            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum.</p>
		            <p><a class="btn huxor-dark huxor-btn nav-hover nav-active" href="#" role="button">Détails &raquo;</a></p>
		          </div>
		        </div>
			</div>
		</section>
		
		<!--contact -->
		<section class="contact block" id="contact">
			<div class="container cont">
				<div class="row">
					<div class="offset-md-1 col-md-4">
						<h2>Titre d'accroche</h2>
						<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna</p>
		            	<p><a class="btn huxor-dark huxor-btn btn-form-contact nav-hover nav-active" href="#" role="button">Formulaire &raquo;</a></p>
					</div>
					<div class="offset-md-1 col-md-5 social" >
						<h2 class="title-social">Réseaux sociaux</h2>
						<div class="container-fluid">
							<div class="row">
								<img class="rounded-circle offset-md-2 offset-1 offset-sm-1" src="assets/fond_service.png" alt="Generic placeholder image" width="70" height="70">
					            <img class="rounded-circle offset-md-auto offset-1 offset-sm-1" src="assets/fond_service.png" alt="Generic placeholder image" width="70" height="70">
			    		        <img class="rounded-circle offset-md-auto offset-1 offset-sm-1" src="assets/fond_service.png" alt="Generic placeholder image" width="70" height="70">		
							</div>
							<div class="row news">
								<h3>Newsletter</h3>
								<form class="form-inline">
								  	<div class="form-group mx-sm-2 mb-2">
								    	<label for="inputEmail" class="sr-only">Email</label>
								    	<input type="email"  name="email" class="form-control" id="inputEmail" placeholder="LoremIpsum@email.com">
								  	</div>
								  	<button type="submit" class="btn huxor-dark huxor-btn nav-hover nav-active mb-2">Envoyez</button>
								</form>
							</div>	
						</div>
					</div>		
				</div>
			</div>
		</section>
	
		<!-- footer.html -->
		<footer th:replace="fragments/footer :: footer"></footer> 	

		<script type="text/javascript"  th:src="@{/jquery/jquery.min.js}" ></script>		
		<script type="text/javascript"  src="js/functions.js"></script>
	</body>
	
</html>