<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" >

	<head>
		<meta charset="UTF-8">
		<title>Huxor</title>
      	<link th:href="@{/bootstrap/css/bootstrap.min.css}"  rel="stylesheet" media="screen"/>
      	<link href="css/style.css"  rel="stylesheet" media="screen"/>
	</head>
	
	<body>
		<!-- header.html -->
		<header  th:replace="fragments/header :: header"></header>
		
		<!-- Rent -->
		<section class="rent-back">
			<fieldset>
			
			    <legend>Choose trip dates</legend>
			
			    <div>
			        <label for="start">Start</label>
			        <input type="date" id="start" name="trip"
			               value="2018-07-22"
			               min="2018-01-01" max="2018-12-31" />
			    </div>
			
			    <div>
			        <label for="end">End</label>
			        <input type="date" id="end" name="trip"
			               value="2018-07-29"
			               min="2018-01-01" max="2018-12-31" />
			    </div>
			
			</fieldset>
		
		</section>
		
		
		<!-- service -->
		<section>
		
		</section>
		
		<!--contact -->
		<section>
		
		</section>
	
		
		
		<!-- footer.html -->
<!-- 		<footer th:replace="fragments/footer :: footer"></footer> 	 -->
	</body>
	
</html>