<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" xmlns:sec="http://www.thymeLeaf.org/extras/spring-security">

	<head	>
		<meta charset="UTF-8">
		<title>mes réservations</title>
      	<link th:href="@{/bootstrap/css/bootstrap.min.css}"  rel="stylesheet" media="screen"/>
      	<link href="css/style.css"  rel="stylesheet" media="screen"/>
	</head>
	
	<body>
		<!-- header.html -->
		<header  th:replace="fragments/header :: header"></header>
		
		<section class="margin-top container">
			<h3 class="title">Mes réservations</h3>
			<table class="table table-hover">
				<thead>
			    	<tr>
			      		<th scope="col">#</th>
			      		<th scope="col">Numéro de contrat*</th>
			      		<th scope="col">Date de départ</th>
			      		<th scope="col">Date retour</th>
			      		<th scope="col">Km compteur départ**</th>
			      		<th scope="col">Km compteur retour</th>
			      		<th scope="col">prix***</th>
		    		</tr>
			  	</thead>
			  	<tbody>
			  		<tr th:if="${nullList}">
						<td th:text="${nullList}" colspan="7" class="nullList"></td>
					</tr>
			    	<tr th:unless="${nullList}" th:each="lease, status : ${leaseList}">
			      		<th scope="row" th:text="${status.index + 1}"></th>
			      		<td th:text="${lease.numberAgreement}?  ${lease.numberAgreement} :  'En cours de traitement'"></td>
			      		<td th:text="${lease.startDate}"></td>
			      		<td th:text="${lease.endDate}"></td>
			      		<td th:text="${lease.startKm}"></td>
			      		<td th:text="${lease.endKm}"></td>
			      		<td th:text="${lease.price} +0€"></td>
			      		<td th:if="${leaseService.checkBookingDate(lease.startDate.toString())}">
				    		<a onclick="return confirm('Etes-vous sur de vouloir annuler cette réservation ?')"  
				    			th:href="@{/delete(id=${lease.idLeaseArgreements}, user=${param.user}, page=0, size=10)}" >
				    			<button class="btn huxor-btn huxor-dark nav-hover .nav-active card-btn" >Annuler</button>
				    		</a>
			      		</td>
			    	</tr>
			  </tbody>
			</table>	
			<nav class="container">
			  <ul class="pagination justify-content-center pagination-lg">
				<li class="page-item pagi" th:each="p, status:${pages}">
					<a class="page-link" th:href="@{/myReservations(page=${status.index}, user=${param.user})}" th:text="${status.index}"></a>
				</li> 		    
			  </ul>
			</nav>	
			<div>
				<small>* La réservation est validée lorsque le numéro du contrat est notifié</small>
			</div>
			<div>
				<small>** Le nombre de km peut evoluer le jour du départ</small>
			</div>
			<div>
				<small>*** Le prix sera mis à jour en cas de dépassement de km autorisé (150km/jours)</small>
			</div>
		
		<!-- footer.html -->
		<footer th:replace="fragments/footer :: footer"></footer> 
		
	</body>
</html>