<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" xmlns:sec="http://www.thymeLeaf.org/extras/spring-security">

	<head>
		<meta charset="UTF-8">
		<title>mes réservations</title>
      	<link th:href="@{/bootstrap/css/bootstrap.min.css}"  rel="stylesheet" media="screen"/>
      	<link href="css/style.css"  rel="stylesheet" media="screen"/>
	</head>
	
	<body>
		<!-- header.html -->
		<header  th:replace="fragments/header :: header"></header>
		
		<section class="margin-top">
			<h1>reservations</h1>
			
			<p th:text="${succesBook}"></p>
			<p th:text="${error}"></p>			
			
		
		</section>
		
		<!-- footer.html -->
		<footer th:replace="fragments/footer :: footer"></footer> 
	</body>
</html>