<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" xmlns:sec="http://www.thymeLeaf.org/extras/spring-security">

	<head>
		<meta charset="UTF-8">
		<title>mon compte</title>
      	<link th:href="@{/bootstrap/css/bootstrap.min.css}"  rel="stylesheet" media="screen"/>
      	<link href="css/style.css"  rel="stylesheet" media="screen"/>
	</head>
	
	<body>
		<!-- header.html -->
		<header  th:replace="fragments/header :: header"></header>
		
		<section class="container account">
			<div class="row">
				<article class="col-md-4">
					<div class="profil-account width-account">
						<img src="assets/profil.png"  alt="logo_profil"/>
						<div class="profil-account width-username">
							<h3 th:text="${user.username}"  ></h3>
						</div>
						<div class="profil-account width-btn">
						  	<button class="btn huxor-btn huxor-dark nav-hover .nav-active btn-account" >Modier profil</button>
						</div>
					</div>
				</article>
				
				<article class=" col-md-4">
					<ul class="list-group list-group-flush">
					  <li class="list-group-item"><span class="item">Email :</span><span class="userDetail">[[${user.email}]]</span></li>
					  <li class="list-group-item"><span class="item">Status  : </span><span class="userDetail" >[[${user.enabled}? 'approuvé' : 'désapprouvé' ]]</span></li>
					  <li class="list-group-item"><span class="item">Nom : </span><span class="userDetail">[[${user.firstName}]]</span></li>
					  <li class="list-group-item"><span class="item">Prénom : </span><span class="userDetail">[[${user.lastName}]]</span></li>
					  <li class="list-group-item"><span class="item">Age : </span><span class="userDetail">[[${age}]] ans</span></li>
					</ul>
				</article>
				
				<article class=" col-md-4">
					<ul class="list-group list-group-flush">
					  <li class="list-group-item"><span class="item">N° permis de conduire : </span><span class="userDetail">[[${user.drivingLicenceNumber}]]</span></li>
					  <li class="list-group-item"><span class="item">Adresse : </span><span class="userDetail">[[${user.address.street}]]</span></li>
					  <li class="list-group-item"><span class="item">Ville : </span><span class="userDetail">[[${user.address.city}]]</span></li>
					  <li class="list-group-item"><span class="item">Code postal : </span><span class="userDetail">[[${user.address.postalCode}]]</span></li>
					</ul>
				</article>
				
			</div>
		</section>	
		
		<!-- footer.html -->
		<footer th:replace="fragments/footer :: footer"></footer> 	
	</body>
</html>